extends layout

block content
  .container.mt-5
    .row
      .col-md-8.offset-md-2.text-center
        h1.display-4 Express
        p.lead Welcome to Express
        hr.my-4
        ul.list-unstyled.mt-4
          each film in films
            li
              h5= film.title
              p= film.description
