extends ../layout

block content
  .container.mt-5
    .row
      .col-md-8.offset-md-2.text-center
        h1.display-4 Actors
        include ../components/search
        p.text-muted Showing #{actors.length} / #{totalCount} actors
        hr.my-4
        .row.mt-4
          if actors.length
            each actor in actors
              include ../components/actor_card
          else
            .col-12
              .alert.alert-info No actors found.
        include ../components/pagination