extends layout

block content
  .container.mt-5
    .row
      .col-md-8.offset-md-2.text-center
        h1.display-4 Films
        form(method="GET", action="/films", class="mb-4")
          .input-group
            input.form-control(type="text", name="search", placeholder="Search films..." value=searchQuery)
            button.btn.btn-outline-secondary(type="submit") Search
        hr.my-4
        .row.mt-4
          if films.length
            each film in films
              .col-md-4.mb-4
                .card.h-100
                  .card-body
                    h5.card-title= film.title
                    p.card-text= film.description
                    a.btn.btn-primary(href=`/films/${film.film_id}`) View Details
          else
            .col-12
              .alert.alert-info No films found.
