extends layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-8.text-center
        h1.display-4.mb-3 Express Films
        p.lead.mb-4.text-secondary Sign up now to rent your film on Express
        hr.my-4
        h2.mb-3 Top 10 Most Rented Films
        .horizontal-scroll
          ul.list-unstyled.d-flex.flex-row.overflow-auto.p-0.m-0.gap-3
            each film in films
              include components/film_card
        h2.mb-3 Top 10 Most Active Actors
        .horizontal-scroll
          ul.list-unstyled.d-flex.flex-row.overflow-auto.p-0.m-0.gap-3
            each actor in actors
              include components/actor_card
