extends ../layout

block content
  .container.mt-5
    .row
      .col-md-8.offset-md-2.text-center
        h1.display-4 Account Details
        p.lead Here you can manage your account settings.
        hr.my-4
