form(method="GET", action="/films", class="mb-4")
  .input-group
    input.form-control(type="text", name="search", placeholder="Search films..." value=searchQuery)
    button.btn.btn-outline-primary(type="submit") Search