form(method="GET", action=`/${path}`, class="mb-4")
  .input-group
    input.form-control(type="text", name="search", placeholder=`Search ${path}...` value=searchQuery)
    button.btn.btn-outline-primary(type="submit") Search